/* work sans fonts  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* shared style  */
.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 24px;
    border: 0;
    cursor: pointer;
}

/* header style  */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    color: #424242;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px
}

nav li a {
    text-decoration: none;
    color: #424242;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px
}

/* banner section style  */
.banner-content {
    width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}

.banner-description {
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

.header-btn {
    margin-bottom: 50px;

}

.banner img {
    width: 100%;
}


/* main part style  */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* team section style  */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    border: 1px solid red;
    margin-left: 200px;
}

.teams-img-container img {
    width: 200px;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-content-title {
    font-size: 45px;
    width: 468px;
    margin-bottom: 24px;
}

.quick-list {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.of-our {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.text-features {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

.teams-content-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 537px;
    margin-bottom: 32px;
}

/* feature part style  */
.features {
    display: flex;
    margin-top: 130px;
    gap: 100px;
    margin-bottom: 130px;
}

.feature-content {
    margin-left: 200px;
    margin-top: 20px;
}

.feature-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin: 0;
}

.feature-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 506px;
    margin-top: 20px;
}

.feature-content .card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 8px 20px;
    margin-bottom: 10px;
    width: 460px;
}

.feature-img img {
    height: 90%;
    width: 450px;
    margin-left: -30px;
}

.f-card-title {
    color: #131313;
    font-size: 20px;
    font-weight: 600;
}

.f-card-description {
    color: #727272;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    width: 514px;
}

.ten-years-batch {
    border-radius: 8px;
    background: #FF900E;
    width: 250px;
    height: 130px;
    padding: 45px 42px;
    position: relative;
    bottom: 100px;
    right: 70px;
}

.ten-years-batch h2 {
    color: #FFF;
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    line-height: 70px;
    margin: 0;
}

.ten-years-batch p {
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    margin: 0;
}

/* facts part style  */
.facts {
    padding: 0 200px;
    margin-bottom: 120px;
}

.facts-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.facts-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 542px;
    margin-bottom: 80px;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px 35px;
}

.facts-card-container .card-stats {
    color: #424242;
    font-size: 45px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-title {
    color: #727272;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}

/* sponsor part style  */
.sponsor {
    padding: 0 200px;
}

.sponsor-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
}

.sponsor-description {
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 542px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.sponsor-img-container {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    align-items: center;
}

.sponsor-img-container img {
    width: 165px;
}

/* footer part style  */
.footer {
    margin-top: 130px;
    border-radius: 8px;
    background: #FFF4E7;
    margin: 0 220px;
}

.footer p {
    color:  #424242;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 30px 200px;
}

/* responsive media query  */
/* for small devices  */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;

    }

    nav,
    .teams-container,
    .features,
    .facts-card-container,
    .sponsor-img-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .feature-img img {
        width: 90%;
    }

    .teams-content,
    .facts-card-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .facts-card-container {
        gap: 20px;
    }

    .teams-content-description {
        width: 100%;
        text-align: justify;
    }

    .banner-content,
    .teams-content {
        width: 100%;
    }

    .sponsor-description {
        width: 400px;
    }
}

/* for medium devices  */
@media screen and (min-width:577px) and (max-width: 960px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }

    .banner-content {
        width: 100%;
    }
}