/* work sans fonts  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* shared style  */
.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 24px;
    border: 0;
    cursor: pointer;
}

/* header style  */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    color: #424242;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px
}

nav li a {
    text-decoration: none;
    color: #424242;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px
}

/* banner section style  */
.banner-content {
    width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}

.banner-description {
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

.header-btn {
    margin-bottom: 50px;

}

.banner img {
    width: 100%;
}


/* main part style  */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* team section style  */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    border: 1px solid red;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-content-title {
    font-size: 45px;
    width: 468px;
    margin-bottom: 24px;
}

.quick-list {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.of-our {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.text-features {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

.teams-content-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 537px;
    margin-bottom: 32px;
}
/* responsive media query  */
/* for small devices  */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;

    }

    nav,.teams-container {
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content{
        padding-left: 20px;
        padding-right: 20px;
    }
   
    .teams-content-description{
        width: 100%;
        text-align: justify;
    }
    .banner-content,.teams-content{
        width: 100%;
    }
    
}

/* for medium devices  */
@media screen and (min-width:577px) and (max-width: 960px) {
    header {
        padding: 20px;
    }

    nav,.teams-container {
        flex-direction: column;
    }

    .banner-content {
        width: 100%;
    }
}